---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Sobre mi";

const identity = {
  firstName: "Rafa",
  country: "Mexico",
  occupation: "Desarrollador",
  hobbies: ["fotografia", "leer", "musica"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Redacción de documentos"];

const happy = true;
const finished = false;
const goal = 3;

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---
<BaseLayout pageTittle={pageTitle}>
   <article class="card">
        <h1>{pageTitle}</h1>
        <h2>... ¡y mi nuevo sitio Astro!</h2>

        <p>Estoy trabajando en el tutorial introductorio de Astro. Esta es la segunda página de mi sitio web, ¡y es la primera que he construido yo mismo!</p>

        <p>Este sitio se irá actualizando a medida que vaya completando más partes del tutorial, ¡así que no dejes de visitarlo para ver cómo va mi viaje!</p>

        <h3>He aquí algunos datos sobre mí:</h3>
        <ul>
          <li>Me llamo {identity.firstName}.</li>
          <li>Vivo en {identity.country} y trabajo como {identity.occupation}.</li>
          {identity.hobbies.length >= 2 &&
            <li>Dos de mis aficiones son: {identity.hobbies[0]} y {identity.hobbies[1]}</li>
          }
        </ul>

        <h3>Mis habilidades</h3>
        <ul>
          {skills.map((skill) => <li class="skills">{skill}</li>)}
        </ul>

        {happy && <p>¡Estoy feliz de aprender Astro!</p>}

        {finished && <p>¡He terminado este tutorial!</p>}

        {goal === 3 ? <p>Mi objetivo es terminar en 3 días.</p> : <p>Mi objetivo no son 3 días.</p>}
      </article>
</BaseLayout>

